/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*   #f79400   */
/*  rgb(22,192,255) */
		
.b-bottom{
	border-bottom: 3px solid var(--prim-color);
	padding-bottom: 30px;
}

.text-sm{
	font-size: 10px;
}
.brand-logo{
	border-radius:5px;
}
.btn-social-custom{
	padding-right: 9rem !important;
}

.btn-social-custom .pl-5{
	margin-left: 60px !important;
	
}

.btn-social-custom  .pl-r-5{
	margin-left: 40px !important;

}
.btn-outline-pri{
	border: 1px solid var(--prim-color);
	color: var(--prim-color);
}
.btn-outline-pri:hover{
	border: 1px solid var(--prim-color);
	background-color: var(--prim-color);
	color: #fff;
}
.btn-outline-sec{
	border: 1px solid var(--sec-color);
	color: var(--sec-color);
}
.btn-outline-sec:hover{
	border: 1px solid var(--sec-color);
	background-color: var(--sec-color);
	color:#fff;
}
.curr-logo img{
	width:40px;
	border-radius: 20px;
}
.fig-naira{
	color: #1f862b;
}
.fig-btc{
	color: var(--prim-color);
}
.card-home{
	border-radius: 30%;
}
.h-card-btn{
	background-color:var(--prim-color);
	color: #fff;
	border-radius:20px; 
	padding: 10px;
	cursor: pointer;
}
.h-card-btn a {
	color: #fff;
}
.h-card-btn a:hover{
	color: #fff;
}
.btn-wallet-switch-group{
	margin-bottom: 20px;
}
.btn-wallet-switch{
	padding-right: 10rem;
	border: 1px solid #eee;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 40px;
	 box-shadow: 5px 3px #888888;
	 transition: 1s;
}
.btn-wallet-switch:hover{
		padding-right: 15rem;
}

.input-icons i { 
            position: absolute; 
 } 
 .input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
 } 
 .icon { 
            min-width: 40px; 
            margin-left:5px;
            margin-top: 7px;
  } 
 .input-field { 
            width: 100%; 
            padding: 10px; 
            text-align: center; 
            border: 1px solid var(--prim-color) !important;
            margin-bottom: 10px;
            color: var(--prim-color)!important;
  } 
 .input-field:focus{ 
           border: 1px solid var(--prim-color) !important;
 } 
.input-icons .cur-logo-input img{
	width: 30px;
	border-radius: 20px;
}
.input-icons select{
	color: var(--prim-color);
}

.btn-submit-pri{
	margin-top: 10px;
	background-color: var(--prim-color);
	color: #fff;
}
.btn-submit-pri:hover{
	color: #fff;
}
.payments{
	margin-top: 30px;
}
.payments-list{
	display: flex;
	flex-direction: row;
}
.payments-list a{
	margin: 10px 40px 0px 0px;
	}.payments-list a img{
	width: 340px;
}

.n-card-header{
text-align: center;	
	width: 100%;
}
.n-card-header .my-tabs{
	border: none;
}
.n-card-header .my-tabs li{
  margin: 0px 60px 0px 40px;
  border: none;

}
@media (max-width: 999px){
	.n-card-header .my-tabs li {
		margin: 0px;
		margin-bottom: 15px;
		width: 100%;
	}
	.n-card-header .my-tabs .form-search{
		width: 100%;
		margin-bottom: 15px;
	}

}
.n-card-header .my-tabs li a{
	border:1px solid  var(--prim-color);
	color: var(--prim-color);
	border-radius: 10px;
   padding: 10px 60px 10px 60px !important;
}
.n-card-header .my-tabs li a:hover{
	background-color:  var(--prim-color);
	color: #fff;
	border: none;
}  
 .n-card-header .my-tabs li .active{
	background-color:  var(--prim-color) !important;
	color: #fff;
	border-radius: 10px;
	border-bottom: none;
}  
.n-card-header input{
	border:1px solid  var(--prim-color);
	border-radius: 10px;
}.n-card-header input:focus{
	border:1px solid  var(--prim-color);
	border-radius: 10px;
}








.giftcard-list{
    background-color:#fff;
    text-align: center;
  padding: 15px;
  margin: 20px 30px 20px 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px #eee;
}
.giftcard-list a {
	background-color: var(--prim-color);
	display: block;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	margin: 
}
.giftcard-list img{
	height: 70px;
	margin-bottom: 10px;
}
.giftcard-list a:hover{
	color: #fff;
}
.my-tab-content{
	margin-left: 25px;
}
.my-tab-content h2{
	color: var(--prim-color);
}
.countries{
/*box-shadow: 5px 5px 5px 5px #eee;*/
}

.b-card-header h2{
	color: var(--prim-color);

}
.b-card-header h2 a{
	color: var(--prim-color);
   font-size: 10px;
   font-weight: bolder;
}



.countries{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.countries h2 {
	color: var(--prim-color);
	margin-top: 10px;
	margin-left: 0px !important;
	padding: 0px;
}



/*========================newadded => preview/selected  card ===============================*/


.selected-card {
  background-color:#fff;
  text-align: center;
  padding: 15px;
  margin: 2	0px 30px 0px 0px;
}

.flags{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 15px 15px 5px;
}
.flags-list{
  position: relative;
  background-color:#f2f2f2;
  text-align: center;
  padding: 15px;
  max-height: 70px;
  cursor: pointer;
     margin:10px;
}
.flags-list:hover  .country-overlay{
	opacity: 1;
}
.flags-list img{
width: 40px;
}
.flags-list label{
	display: flex;
	flex-direction: column;
}

.flags-list label span{
	font-weight: bold;
	margin: 5px;
}
.country-overlay{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 25px;
	text-align: center;
	background-color: rgb(0,0,0,0.5);
	opacity: 0;
	transition: 1s;
}

.country-overlay-others{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 25px;
	text-align: center;
	background-color: rgb(0,0,0,0.5);
}
.country-overlay-others  i {
  font-weight: 900;
  color: #fff;
  font-size: 20px;

}
.country-overlay  i {
  font-weight: 900;
  color: #fff;
  font-size: 20px;

}

.flags-list:hover   .country-overlay{
	opacity: 1;
	transition: 1s;
}
.flags-list input[type=radio]{
	opacity: 0;
}

.flags-list input[type=radio]:checked  .country-overlay{
	opacity: 1;
}


.text-bold{
	font-weight: bolder;
}

.mt-10{
	margin-top: 10px;
}








/*hide this by default*/
.hidden-content{
	border-top: 1px solid #eee;
	padding:0px;
	margin-top: 20px;
}

.card-type{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 15px 15px 5px;
  }
.card-type-list{
  position: relative;
  background-color:#f2f2f2;
  text-align: center;
  padding: 15px;
  max-height: 110px;
  cursor: pointer;
  transition: 1s;
  width: 100px;
  margin:10px;

}
.card-type-list img{
width: 100%;
z-index: 1;
}
.card-type-list label{
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.card-type-list label span{
	font-weight: bold;
	margin: 5px;
}

.card-type-list .card-type-overlay{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 45px;
	text-align: center;
	background-color: rgb(0,0,0,0.5);
	opacity: 0;
	transition: 1s;
}

.card-type-list .card-type-overlay i {
	font-weight: bolder;
	color: #0000;
}


.card-type-list:hover   .card-type-overlay{
	opacity: 1;
	transition: 1s;
}
.card-type-list input[type=radio]{
	opacity: 0;
}

.card-type-list input[type=radio]:checked  .card-type-overlay{
	opacity: 1;
}



.btn-submit{
	background-color: var(--prim-color);
	color: #fff;
}
.btn-submit:hover{
	color: #fff;
}

.active_new{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 45px;
	text-align: center;
	background-color: rgb(0,0,0,0.5);
	opacity: 1;
	transition: 1s;
}



@media (max-width: 999px){
	.selected-card {
		margin: 20px 30px 20px 20px;
	}
}

.sm-flex{
	display: flex;
	flex-direction: row;

}
.btc-content{

margin-left:20px;
}
.butt-group{
	margin-left: 60px;

}
.butt-group .butt-hr{
	display: inline-block;
}
.butt-group .butt-hr .btc-send{
	padding: 10px 30px 10px 30px ;
	margin: 5px;
	color: var(--prim-color);
    background-color: #fff;
    border-radius: 10px;
    border:1px solid  var(--prim-color);
}

.butt-group .butt-hr .btc-send a {
	color:var(--prim-color);
}

.butt-group .butt-ver{
		margin-left: 110px;
}
.butt-group .butt-ver .btc-send{
	display:block;
	padding: 10px 20px 10px 20px ;
	margin: 30px 5px 20px 5px ;
     color: #fff;
    border-radius: 10px;
    border: none;
   background-color: var(--prim-color);
}
.butt-group .butt-ver .btc-send a {
	color: #fff;
}
@media (max-width:999px){
  
   .sm-flex{
	 text-align: center;
	 display: block;
	 }
	 .btc-content{
	    margin-left: 5px;
	 	text-align: center;
	 } .butt-group{
	 	margin-left: 5px;
	 	text-align: center;	 	
	 }.logo-nbtc{
    text-align: center;
	 }

} 

.list-instruc ul li {
	display: list-item;
	text-align: left;
}
.item-transact{
	display: flex;
	flex-direction: row;
}

.item-transact .content{
	margin: 70px;
}

@media (max-width: 999px){

	.item-transact{
	display:block;
}
.item-transact .content{
	margin: 60px;
}

}

.media{
	margin-left: 40px;
	border-radius: 30px;
	margin-top: 40px;
}.media iframe{
	border-radius: 30px !important;
	width: 620px;
	height: 315px;
}







/*============================assets  updated ============================ */


.assets-card , .assets-card-header {
	margin: 0px;
	padding: 0px;
}

.assets-card-header .my-tabs{
	border: none;
	margin: 0px;
	padding: 0px;
}
.assets-card-header .my-tabs li{
  border: none;
  border-radius: 0px;

}

.assets-card-header .my-tabs .sec{
	margin-left: 2px !important;
}
@media (max-width: 999px){

	.assets-card{
	margin: 0px;
	padding: 0px;
}

.assets-card-header{
text-align: center;	
	margin: 0px;
   padding: 0px;

}
	.assets-card-header .my-tabs li {
		margin: 0px;
		margin-bottom: 15px;
		width: 100%;

	}
	.assets-card-header .my-tabs li  a{
		text-align: center;
		margin: 0px;
		padding: 0px;
	}
	.assets-card-header .my-tabs .form-search{
		width: 100%;
		margin-bottom: 15px;
	}

}
.assets-card-header .my-tabs li a{
	 border-radius: 0px;
	border:1px solid  var(--prim-color);	
   padding: 10px  132px 10px 133px !important;
   color: var(--prim-color);
}
.assets-card-header .my-tabs li a:hover{
	background-color:  var(--prim-color);
	color: #fff;
	border: none;
	border-radius: 0px;
}  
 .assets-card-header .my-tabs li .active{
	background-color:  var(--prim-color) !important;
	color: #fff;
	border-radius: 0px;
	border-bottom: none;
}  


.exchange-icon span {
	color: var(--prim-color);
	margin: 1rem;
	margin-left: 22px;
	margin-top: 40px;
}
 @media (max-width:999px){
 	.exchange-icon span {
	margin-left: 50%;
	margin-top: 0px;		
	text-align: 
}
.assets-naira-input{
	margin-left: 0px !important;
 }
}


.assets-naira-input {
	margin-left: 40px;
}

.assets-card .input-icons{

	margin: 30px 0px 30px 0px;
}

.assets-card label {
	color: var(--prim-color);
}

 .assets-card h4 {
 	text-align: center;
 	color: var(--prim-color);
 	margin-top: 10px;
 	margin-bottom: 20px;
 }




 .f-container{
 	/*padding-bottom: 20px;*/
 	margin: 0px 0px 20px 0px;
 }
  .f-container .f-row-data{
   margin: 20px 20px 0px 20px;
   background-color: #eee;
   border-radius:50px;
   padding: 0px;

 }

  .f-container .f-row-data .f-index{
 	margin: 20px 20px 20px 20px;
 	flex-basis: 65%;
 }
   .f-container .f-row-data  .f-index h4 {
 	font-size: 15px;
 }
 .f-container .f-row-data  .f-amount{
 	margin:20px 10px 10px 10px;
 	color: var(--prim-color);
 }
  .f-container .f-row-data  .f-amount h4 {
 	color: var(--prim-color);
 	font-size: 15px;
 }





  .m-container{
   margin-left: 30px;
 }
 .m-container .m-row-data{
    display: flex;
 	flex-direction:row;
 }

 .m-container .m-row-data .m-icon{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	align-items: center;
 	margin-right: 5px;
 }
.m-container .m-row-data .m-icon .fa{
  background-color: #eee;
   color: var(--prim-color);
 	border-radius: 50%;
 	padding: 5px;
  	width: 25px;
 	text-align: center;
 	margin: 20px  0px 20px 0px;
 }

 .m-container .m-row-data .gap{
 	display:block;	
    border-left: 1px dashed var(--prim-color); 
 	padding: 30px 0px 0px 0px;

 }

 .m-container .m-row-data  .m-list{
 	 
 	display: flex;
 	flex-direction: column;	
   flex-basis: 75%;
   color: var(--prim-color); 
 }

 .m-container .m-row-data  .m-list h4 {
 	color: var(--prim-color);
 	font-size: 15px;
 	border-bottom: 3px solid #eee;
 	padding-bottom: 9px;
 } 

 



 @media (max-width: 999px){
 	.assets-form{
 		margin-right: 30px !important;
 		margin-left: 10px !important;
 	}
 	.f-container{
 		margin-right: 10px;
 		margin-left: 10px !important;
 	}
 	.m-container{
 		margin-right: 10px;
 		margin-left: 35px  !important;
 	}
 	.assets-card .input-icons{

	margin: 0px 0px 0px 0px;
}
 }


 .input-icons .input-field select{
   background-color: red !important;
 }

 .assets-d-logo img{

 	margin-bottom:40px !important;
 	width: 24px !important;
 }




.hidden-content .info-n{
  font-size: 10px;
  margin: 10px 0px 10px 10px;
  margin-left:7px;
  color: #000;
}
.hidden-content h6 span {
	background-color: grey;
	border-radius: 50%;
	color: #fff;
	margin-right: 5px;
	padding: 3px;

}
.hidden-content h6 span i {
   color: #fff;
}

.submit-btn {
	display: flex;
	justify-content: flex-start;
    
	margin-left: -6px;
}
/*card value*/

.card-value{
	 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 15px 15px 5px;
  font-family: "Poppins", sans-serif;
}
.card-value .list-card-value{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px;
	margin: 5px;	
	background-color: #fff;
	box-shadow: 3px 3px 3px 3px #eee;	
	
}
.card-value .list-card-value .card-img{
	display: flex;
	justify-content: center;
	flex-basis: 30%;
	
}
.card-value .list-card-value .card-img img{
	width: 50px;
	height: 35px;
	margin-top: 6px;
	

}
.card-value .list-card-value  .value{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		flex-basis: 60%;
		padding: 5px;
}.card-value .list-card-value  .value h6{

	display: inline-block;
	padding:0px;
	margin: 0px;
	font-weight: bolder;
	font-family: 'Poppins', sans-serif;
	
}.card-value .list-card-value  .value h6:last-child{
  font-weight: lighter;
  margin-right: 18px;
  margin-top: 3px;

}.card-value .list-card-value  .card-quantitiy{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 5px;

}
.card-value .list-card-value  .card-quantitiy img {
	cursor: pointer;
}






















/*update from this side 12/10/2020*/
.value-notlisted{
	margin-left: 3px;
	margin-top: 40px;
	margin-bottom: 20px;	
}

.value-notlisted .main-box{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	margin: 10px 0px 10px 0px;
	background-color: #f2f2f2;
    padding: 10px;
}
.value-notlisted .main-box  .box{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	flex-basis: 50%;
	padding: 10px;
		
}

.value-notlisted .main-box  .box .input-value{
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
	/*padding:10px 10px 10px 0px;*/
	flex-basis: 50%;

}

.value-notlisted .main-box  .box .oth-value input{
  border: 0px;
margin-right: 10px;
}
.value-notlisted .main-box  .box .oth-value{
  padding: 6px;
}
.value-notlisted .main-box  .box .input-value label{
	font-weight: bold;
	flex-basis: 100%;
}
.value-notlisted .main-box  .box .card-quantitiy{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	
	
}.value-notlisted .main-box  .box .card-quantitiy img{
	padding: 5px;
}
.value-notlisted .main-box .links{
	margin-left: 15px;
}

.total-amount{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	text-align: center;
	flex-basis: 100%;

}

.total-amount h1{
	font-weight: bolder;
}

.oth-value{
	display: flex;
	flex-direction: row;
	background-color: #fff;
	/*padding: 15px;*/

}
.oth-value label{
	display: flex;
	justify-content: center;
	margin-left: 20px;
	font-weight: bolder;
}.input-value-n{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;

}
.input-value-n .display-value{

	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 60px;

}

.input-value-n .new-estimate{
	flex-basis: 30%;
	text-align: right;
	align-items: center;
	margin-left: 97px;
	margin-bottom: 10px;
}

.new-estimate label {
	font-weight: bolder;

}

/*================to this side ======================*/

